---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Soy una persona proactiva, organizada y responsable, con buenas relaciones interpersonales. Estudiante universitario, interesado en ampliar conocimientos y experiencia laboral. Siempre tengo la mejor predisposición para la realización de mis labores. Busco un puesto desafiante.
		</p>
	</div>
</section>
